@model DariGroupe.Models.AttentMoyenObject

@{
    ViewBag.Title = "le temps moyen d'attente pour avoir la livraison";
    Layout = "~/Views/Shared/Custom_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>AttentMoyenObject</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
