@model DariGroupe.Models.Benefits

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Custom_Layout.cshtml";
}
<br />
<br />
<br />
<h1>Benefits</h1>
<br />
<br />
<h2>@Html.DisplayFor(model => model.cam)</h2>
<br />
<h2>@Html.DisplayFor(model => model.ins)</h2>
<br />
<h3><a href="../Home/Index">Go Back</a></h3>
<br />
<br />
<br />
